body{
    text-align:center;
    background-color: gold;
  }
#ujwal{
    background-color: gold;
  }
  #aditya{
    background-color: rgb(240, 101, 101);
  }
  #laxmi{
    background-color: rgb(209, 230, 26);
  } 